# Unity folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Visual Studio / Rider / VS Code
.vscode/
.idea/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.vs/


# OS junk
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# Package cache
Packages/packages-lock.json
